span{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
}

button{
    font-family: 'Maven Pro', sans-serif !important;
}

.MuiOutlinedInput-input{
    padding:"13px 16px" !important;
}

button.slick-arrow.slick-prev {
    left: 0px;
    background: #fdd6ca;
    z-index: 4;
    height: 45px;
    width: 50px;
}

.slick-prev:before, .slick-next:before {
    color: #6d28d9c2 !important;
}

button.slick-arrow.slick-next {
    right: 0;
    background: #fdd6ca;
    z-index: 4;
    height: 45px;
    width: 50px;
}